@model _Nisab_Calculator.Models.AboutModel

<!DOCTYPE html>
<html>
<head>
    <title>Calculator</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+WyEGlfEY93mdbe1pgpDQByPW6SA1c2M6L" crossorigin="anonymous">

    <style>
        body {
            margin: 0;
            padding: 0;
            box-spacing: border-box;
        }
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden; 
            background-color: #01796F;
           
        }

        li {
            float: left;
            
        }

            li a {
                display: block;
                color: white;
                text-align: center;
                font-size:200%;
                padding: 14px 16px;
                text-decoration: none;
            }

                li a:hover {
                    background-color: #4BA47E;
                }
       
* {
  box-sizing: border-box;
}
img {
            margin: 0px;
            padding:0px;
            margin-left:40px;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.baslık{
            margin-left: 250px;
            margin-right: auto;
            width: 50em;
             color: #01796F;
}

.metin{
           font-size:35px;
           color: #01796F;
           top:100px;
           bottom:100px;
}

 .son{
            background-color: #01796F;
         
 }

 .son p{
     font-size:20px;
     color:white;
     
 }

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

button[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

button[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 0px;
  margin: 0px;
  top:0px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.yeniden{
    float:right;
    bottom:right;
}

</style>
</head>

<body>
    <div class="container mt-5">
        <ul>
            <li><a class="active" href="/">Anasayfa</a></li>
            <li><a href= />Zekat</a></li>
            <li><a href="Fidye">Fidye</a></li>
            <li><a href="/About">Hakkımızda</a></li>

        </ul>

        <div>
            <h1> Biz Kimiz? Neden Kurumlar üzerinden yardımlaşmaya karşıyız?</h1>
            <p>Bizler bireysel yardımlaşmaya inanıyoruz. </p>
            <img src="/images/pexels-pixabay-265702.jpg" alt="" style="width:50%;height:300px;">
            <p>Yapacağın yardım miktarını kendin hesapla, kendin hazırla, kendin ilet ve yaptığın yardımın yerine ulaştığından emin ol.</p>
            <p>06.02.2023 yılında olan deprem ülkemizin her vatandaşının yüzüne acı bir gerçeği çarptı. </p>
            <p>Bu da yapmış olduğumuz bağışların insanlara göstermelik olarak ulaştırıldığı gerçeğidir. </p>
            <p>Aradan geçen bir yılda gördüğümüz deprem çadırlarında yaşamaya çalışan insanların çaresizliği ve kurumların yetersiz kaldığıdır. </p>

        </div>
   
    

    </div>
</body>
</html>
