@model _Nisab_Calculator.Models.AboutModel

<!DOCTYPE html>
<html>
<head>
    <title>Calculator</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+WyEGlfEY93mdbe1pgpDQByPW6SA1c2M6L" crossorigin="anonymous">

    <style>
        body {
            margin: 0;
            padding: 0;
            box-spacing: border-box;
        }
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden; 
            background-color: #01796F;
           
        }

        li {
            float: left;
            
        }

            li a {
                display: block;
                color: white;
                text-align: center;
                font-size:200%;
                padding: 14px 16px;
                text-decoration: none;
            }

                li a:hover {
                    background-color: #4BA47E;
                }
       
* {
  box-sizing: border-box;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 0px;
  margin: 0px;
  top:0px;
}

h1{
  text-align:center;
  color: #01796F;
 }

 .ilk-div{
 background-color:rebeccapurple;

 }
 .text{
     
     font-size: 20px;
 }

 p{ color:darkkhaki;}
 

</style>
</head>

<body>
    <div class="container mt-5">
        <ul>
            <li><a class="active" href="/">Anasayfa</a></li>
            <li><a href="/Zekat">Zekat</a></li>
            <li><a href="Fidye">Fidye</a></li>
            <li><a href="/About">Hakkımızda</a></li>
            <li><a href="/Comment/GetComments">Yardımlar</a></li>
            <li><a href="/User/login">Giriş yap</a></li>
            <li><a href="/User/add">Kayıt ol</a></li>

        </ul>

        <div>
            <h1> Biz Kimiz? Neden Kurumlar üzerinden yardımlaşmaya karşıyız?</h1>
            <div class="ilk-div">
                <div class="text">
                    <div style="float:left; width:45%;">
                        <img src="/images/pexels-pixabay-265702.jpg" alt="" style="width:100%;">
                    </div>
                    <div style="float:right; width:50%;">
                        <p>Bizler bireysel yardımlaşmaya inanıyoruz.</p>
                        <p> Yapacağın yardım miktarını kendin hesapla, kendin hazırla, kendin ilet ve yaptığın yardımın yerine ulaştığından emin ol.</p>
                        <p>06.02.2023 yılında olan deprem ülkemizin her vatandaşının yüzüne acı bir gerçeği çarptı.</p>
                        <p> Bu da yapmış olduğumuz bağışların insanlara göstermelik olarak ulaştırıldığı gerçeğidir.</p>
                        <p> Aradan geçen bir yılda gördüğümüz deprem çadırlarında yaşamaya çalışan insanların çaresizliği ve kurumların yetersiz kaldığıdır.
                        </p>
                    </div>
                    <div style="clear:both;"></div>
                </div>
            </div>

    </div>
</body>
</html>
