@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Calculate Dto Form</title>
    <style>
        * {
            box-sizing: border-box;
        }

        input[type=text], select, textarea {
            width: 100%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            resize: vertical;
        }

        label {
            padding: 12px 12px 12px 0;
            display: inline-block;
        }

        input[type=submit] {
            background-color: #04AA6D;
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            float: right;
        }

            input[type=submit]:hover {
                background-color: #45a049;
            }

        .container {
            border-radius: 5px;
            background-color: #f2f2f2;
            padding: 20px;
        }

        .col-25 {
            float: left;
            width: 25%;
            margin-top: 6px;
        }

        .col-75 {
            float: left;
            width: 75%;
            margin-top: 6px;
        }

        /* Clear floats after the columns */
        .row::after {
            content: "";
            display: table;
            clear: both;
        }

        /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
        screen and (max-width: 600px) {
            .col-25, .col-75, input[type=submit]

        {
            width: 100%;
            margin-top: 0;
        }
        }
        
    </style>
</head>

<body>
    <h1>
        Nûr / 37. Ayet

        Namazı kılın; zekâtı verin; Peygamber'e itaat edin ki merhamet göresiniz.
    </h1>


    <form method="post" action="/api/Calculator/calculate1">

        <label for="EuroAdet">Euro Adet:</label>
        <input type="number" name="EuroAdet" value="@Model?.EuroAdet" />

        <label for="Dolaradet">Dolar Adet:</label>
        <input type="number" name="Dolaradet" value="@Model?.DolarAdet" />

        <label for="SterlinAdet">Sterlin Adet:</label>
        <input type="number" name="Sterlinadet" value="@Model?.SterlinAdet" />

        <label for="GramAltınAdet">GramAltın Adet:</label>
        <input type="number" name="GramAltınadet" value="@Model?.GramAltınAdet" />

        <label for="BtcAdet">Btc Adet:</label>
        <input type="number" name="Btcadet" value="@Model?.BtcAdet" />

        <label for="EthAdet">Eth Adet:</label>
        <input type="number" name="Ethadet" value="@Model?.EthAdet" />

        <label for="XRPAdet">XRP Adet:</label>
        <input type="number" name="XRPadet" value="@Model?.XRPAdet" />

        <!-- Diğer alanları da benzer şekilde ekleyebilirsiniz -->

        <button type="submit">Gönder</button>
    </form>
    @if (Model?.toplam > 80.18)
    {
        <h2>Nisaba maliksiniz.</h2>
        <h2>Sonuç: @Model.toplam</h2>
    }
</body>
</html>
