@model _Nisab_Calculator.Models.User

<!DOCTYPE html>
<html>
<head>
    <title>Calculator</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+WyEGlfEY93mdbe1pgpDQByPW6SA1c2M6L" crossorigin="anonymous">

    <style>
        body {
            margin: 0;
            padding: 0;
            box-spacing: border-box;
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #01796F;
        }

        li {
            float: left;
        }

            li a {
                display: block;
                color: white;
                text-align: center;
                font-size: 200%;
                padding: 14px 16px;
                text-decoration: none;
            }

                li a:hover {
                    background-color: #4BA47E;
                }

        * {
            box-sizing: border-box;
        }

        img {
            margin: 0px;
            padding: 0px;
            margin-left: 30px;
        }

        .baslık {
            margin-left: 50px;
            margin-right: 0px;
            color: #01796F;
        }

        .metin {
            text-align: justify;
            font-size: 35px;
            color: #01796F;
            top: 100px;
            bottom: 100px;
        }

        .son {
            background-color: #01796F;
        }

            .son p {
                font-size: 20px;
                color: white;
            }

        
        .container {
            border-radius: 5px;
            background-color: #f2f2f2;
            padding: 0px;
            margin: 0px;
            top: 0px;
        }

    </style>
</head>
<body>
    
        <div class="metin">
            <p>Güneydoğu Anadolu Bölgesi 06.02.2023 gününden beri karanlıkta.  İnsanlar hala deprem çadırlarında hayat mücadelesi veriyor.</p>
            <p>Bazıları ailelerinin tüm fertlerini kaybetmiş, tek başına ayakta durmaya çalışıyor. Eğer bireysel olarak yardım etmek istiyorsan az da olsa paylaş!</p>
        </div>



</body>
</html>



